// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  clear: both;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

#left_section {
  position: absolute;
  width: 400px;
}

.draft_piece {
  width: 37px;
  background-color: #33CCFF;
  border-radius: 15px;
  padding: 10px 5px 10px 5px;
  margin: 3px 10px;
}

.piece {
  width: 37px;
  font-size: 10px;
  margin: 0 auto;
  #background-color: #D4D4D4
}

.shaded {
  background-color: pink;
}

.piece.stone {
}

img.portrait {
  height: 50px;
  #height: 50%;
}

div.stone img.portrait {
  height: 50%;
}

.player1.piece {
  #background-color: #FFDAB9;
}

.player2.piece {
  #background-color: #000099;
}

.keep_space {
  width: 60px;
  height: 75px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  font-size: 5pt;
}

.board_space {
  width: 60px;
  height: 75px;
  border: 1px solid;
  border-color: #000000;
  font-size: 5pt;
}

.compass {
  position: absolute;
  top: 42px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.piece_player_num {
  position: relative;
  margin: 0 auto;
  #left: 4px;
  #top: 2px;
  color: #333333;
}

body {
  font-size: 12px;
  font-family: sans-serif;
}

.board {
  #margin-left: auto;
  #margin-right: auto;
  width: 500px;
}

#left_section {
}

#draft_section {
}

#board {
  margin-bottom: 100px;
}

#keep_1 {
  //margin-top: 462px;
}

#left_keep {
  margin-top: 462px;
  margin-right: 5px;
}

#right_keep {
  margin-left: 5px;
}
